.footer{
    width: 100%;
    height: 350px;
    background: #262a2c;
}
.footer__texts{
    width: 100%;
    height: 330px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}
.footer__abouts{
    width: 260px;
    height: 250px;
    margin: 15px 70px;
}
.footer__aboutss{
    width: 260px;
    height: 250px;
    margin: 15px 70px;
}
.footer__abouts h2{
    color: #fff;
    margin: 10px 10px;
}
.footer__aboutss h2{
    color: #fff;
    margin: 10px 10px;
}
.footer__abouts li{
    list-style: none;
    margin: 10px 10px; 
    color: #5e6162;
    font-weight: 600;
    font-size: 18px;
}
.payment{
    display: flex;
}
.footer__aboutss .payment .footer__payments{
    width: 120px;
    height: 50px;
    margin-left: 15px;
    background: url("../../assets/payme-footer.svg") no-repeat center/contain;
}
.footer__aboutss .payment .footer__paymentss{
    width: 100px;
    height: 50px;
    background: url("../../assets/Uzcard-orange.webp") no-repeat center/contain;
}


